.login{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.logo{
  width: 200px;
}

.content-img{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 200px;
}
